<script src="{{ 'swiper-hero.js' | asset_url }}" defer="defer"></script>
{{ "hero-banner.css" | asset_url | stylesheet_tag }}

<div class="hero">
    <div class="swiper-hero">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero__content hero__content--{{ block.id }}">
                    <div class="container hero__content-container">
                        <div class="hero__content-text">
                            <h2 class="hero-title">Lorem, ipsum.</h2>
                            <p class="hero-descr">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum
                                                                                quo, perferendis aliquid sit itaque voluptatum nulla nesciunt
                                                                                minus explicabo! Voluptates sint nihil mollitia, officiis eius
                                                                                molestiae beatae, delectus debitis eum officia corporis
                                                                                voluptatibus aperiam! Corrupti nostrum esse vitae officiis sed
                                                                                voluptatibus necessitatibus iusto, sunt obcaecati alias maiores
                                                                                quia! Sapiente beatae iste voluptates perspiciatis cupiditate
                                                                                nobis quos tenetur a nostrum voluptas possimus veritatis qui
                                                                                quasi
                            </p>

                            <a class="hero__btn" href="#">link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero__content hero__content--two">
                    <div class="container hero__content-container">
                        <div class="hero__content-text">
                            <h2 class="hero-title">Lorem, ipsum.</h2>
                            <p class="hero-descr">
                                corporis voluptatibus aperiam! Corrupti nostrum esse vitae
                                                                                officiis sed voluptatibus necessitatibus iusto, sunt obcaecati
                                                                                alias maiores quia! Sapiente beatae iste voluptates perspiciatis
                                                                                cupiditate nobis quos tenetur a nostrum voluptas possimus
                                                                                veritatis qui quasi debitis, autem asperiores fugit fugiat.
                                                                                Delectus doloremque fuga id dolores sequi inventore repudiandae
                                                                                architecto facere. Dignissimos, aspernatur. Atque illo minus
                                                                                vero laudantium illum? Atque veritatis ducimus fugiat et in
                                                                                illo. Dolores repudiandae ullam impedit atque rerum rem ducimus
                                                                                pariatur, error, nobis nam temporibus quam autem ab, aspernatur
                                                                                aliquid harum voluptate. Quaerat exercitationem tempora officia
                                                                                possimus consectetur provident placeat nesciunt accusamus!
                            </p>

                            <a class="hero__btn" href="#">link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
