.container {
  margin: 0 auto;
  max-width: 1140px;
}

.hero {
  background-color: gainsboro;
}

.hero__content {
  margin: 0 10px;
  padding: 320px 15px 100px 15px;
  min-height: 400px;
  color: aliceblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__btn {
  padding: 10px 40px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.3s;
  border: 1px solid transparent;
}

.hero__btn:hover {
  opacity: 0.6;

}

.hero__content-text {
  max-width: 520px;
}

.hero-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: wheat;
  text-align: center;
  margin: 0;
  margin-bottom: 33px;
}


.hero-descr {
  font-size: 16px;
  line-height: 160%;
  color: rgb(255, 255, 255);
}

.hero__content-container {
  display: flex;
  
}
