.container {
  margin: 0 auto;
  max-width: 1120px;
}

.hero__content {
  display: block;
  padding: 320px 15px 100px 15px;
  min-height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.swiper-slider__section {
  width: 100%;
  
}

.swiper-slide {
  display: flex;
}

.hero {
  overflow: hidden;
}

.hero__btn {
  padding: 10px 40px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.3s;
  border: 1px solid transparent;

  margin: 0 10px;
}


.hero__btn-position {
  position: relative;
  right: 0;
  left: 20%;
  bottom: 180px;
  z-index: 10;
}

.hero__btn:hover {
  box-shadow: 5px 5px 5px rgb(63, 63, 63);
}

.hero__content-text {
  max-width: 520px;
  
}

.hero-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: wheat;
  text-align: center;
  margin: 0;
  margin-bottom: 33px;
}


.hero-descr {
  font-size: 16px;
  line-height: 160%;
  color: rgb(255, 255, 255);
}

.hero__content-container {
  display: flex;
}


.slider-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}


.slider-nav__btn {
  cursor: pointer;
  background-color: blueviolet;
  border-color: brown;
  transition-duration: 0.3s;
}

.slider-nav__btn:hover {
  opacity: 0.8;
}

.hero__prev {
  margin-left: 10px;
}


.hero__next {
  margin-right: 10px;
}


.hero__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}


.hero__footer-text {
  max-width: 690px;
  margin: 0 10px;
}

.hero__footer-btn:hover {
  opacity: 0.8;
}

.swiper-slider__link {
  display: block;
  text-decoration: none;
 
  cursor: pointer;
  transition-duration: 0.3s;
}

.swiper-slider__link:hover {
  opacity: 0.8;
}

@media (max-width: 991px) {
  .hero__footer {
    display: block;
    margin-top: 10px;
  }

  .hero__content {
    display: block;
    padding: 220px 15px 50px 15px;
    min-height: 250px;
  }

  .hero__btn-position {
    bottom: 109px;
  }
}

@media (max-width: 721px) {
  .hero-title {
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 23px;
  }
  
  .hero-descr {
    font-size: 12px;
    line-height: 120%;
  }

  .hero__btn {
    padding: 7px 25px;
  
  }

  .hero__content {
    padding: 120px 15px 20px 15px;
  }

  .hero__footer-descr {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .slider-nav {
    display: none;
  }

  .hero__btn-position {
    bottom: 50px;
  }
}



